html {
  background-color: #f8eee7;
  height: 100%;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 800px;
}

.example {
  background-color: #f4decb;
  box-sizing: border-box;
  padding: 2em;
  width: 100%;
  margin: 1em 0;
}

.support-table {
  border-collapse: collapse;
}

.support-table,
.support-table th,
.support-table td {
  border: 1px solid darkgray;
  padding: 0.4em;
}

.support-table caption {
  font-style: italic;
  text-align: left;
}

.support-table th {
  text-align: right;
}

.support-table td {
  text-align: center;
}

.support-table__blank {
  visibility: hidden;
}

.support-table__yes {
  color: green;
}

.support-table__no {
  color: red;
}

.support-table__none {
  color: gray;
}

.support-table__not-tested {
  color: gray;
}
